<header>
  <nav class="navbar container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo da empresa" />
    </div>

    <!-- Checkbox para controlar o menu mobile -->
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <ul class="nav-links">
      <li><a (click)="scrollToSection('section1')">Home</a></li>
      <li><a (click)="scrollToSection('section2')">Planos</a></li>
      <li><a (click)="scrollToSection('section3')">Motivos</a></li>
      <li><a (click)="scrollToSection('section4')">Contato</a></li>
    </ul>
  </nav>
</header>
