<div class="carousel fade-section">
  <div class="carousel-container">
    <img
      *ngFor="let img of images; let i = index"
      [src]="img.src"
      [class.active]="i === currentIndex"
      [style.object-position]="img.position"
      alt="Banner promocional"
    />
  </div>

  <!-- Indicadores -->
  <div class="carousel-dots">
    <span
      *ngFor="let img of images; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="currentIndex = i"
    ></span>
  </div>
</div>
