<div class="carousel fade-section">
  <div class="carousel-container">
    <a
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentIndex"
      (click)="abrirWhatsApp(img.message)"
    >
      <img
        [src]="img.src"
        [style.object-position]="img.position"
        alt="Banner promocional"
      />
    </a>
  </div>

  <!-- Indicadores -->
  <div class="carousel-dots">
    <span
      *ngFor="let img of images; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="currentIndex = i"
    ></span>
  </div>
</div>
